body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face{
    font-family: fontInicial;
    src: url(fontes/MysticeTimes_PERSONAL_USE_ONLY.otf);
}

@font-face{
    font-family: fontFooter;
    src: url(fontes/PicturamaAlternate_PERSONAL_USE_ONLY.otf);
}


nav{
    
   background-color: rgb(45, 134, 45);
   color:#e5f7a6fd;
   height: 90px;
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: center;
}
#ul1{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    
   
    
}
img{
    height: 35px;
    width: 5%;
    margin-bottom: 12px;
    margin-left: 125px;
}
.menu:hover{
    background-color: rgb(46, 31, 3);
    transition: 1s;
    position: relative;
    
}
.menu{
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 1s;
    position: relative;
    
    
    
}
h1{
    color:aliceblue;
    font-family: fontInicial;
}
#linha{
    background-color:  rgb(46, 31, 3);
    display: flex;
    justify-content: center;
}
#plantaNav{
    height: 55px;
    width: 50px;
    margin-left: 30px;
    
}
#bt1-barra-pesquisa{
    background-color: rgb(46, 31, 3);
    color: white;
   
    
}
#txt{
    margin-right: 15px;
    
}
#marqueen{
    width:100%;
    background-color:  rgb(46, 31, 3);
}
#texto1{
    display: inline-block;
    white-space: nowrap;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transform: translateX();
    animation: movimento 18s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes movimento{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#title{
    font-size: 8vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(20, 13, 1);
    margin-bottom: 10px;
    
    
}

#sec{
    background-color: rgb(45, 134, 45);
    height: 1500px;
}
hr{
    height: 7px;
    background-color: aliceblue;
}

#girassol{
    height: 300px;
    width: 45%;
    margin-top: 30px;
    border-radius: 50px;
    border: 2px black solid;
    
}
#pai{
    display: flex;
    justify-content: space-around;
    
}
#tx{
    background-color: white;
    height: 200px;
    border-radius: 20px;
    border: 2px black solid;
    margin-top: 60px;
}
.subli{
    display: none;
    color: white;
    background-color: black;
    position: absolute;
    padding: 10px;
}

#ul1 li:hover .subli {
    display: block;
   margin-top: 7px;
  }

  #carrinho-img{
    margin-right: 7px;
    height: 40px;
  }

  /*ESTILO PARA O CONTAINER*/

  .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 40px;
  }

  .text-div{/*ESTILO DO TEXTO ACIMA DO PRODUTO*/
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 80px;
  }

  .img-div{/*ESTILO DA DIV QUE A IMAGEM ESTA*/
    background-color: aliceblue;
    height: 250px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(37, 3, 3);
  }

  .section-img{/*ESTILO PARA A IMAGEM EM SI*/
    height: 400px;
    width:70%;
    margin: auto;
  }

  .precoRS{/*ESTILO PARA O PREÇO*/
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 20px;
    font-size: 23px;
    padding: auto;

  }

  .preco-botao{
    margin-top: 8px;
  }

  .bot-class{/*ESTILO DO BOTAO QUE ADICIONA O CARRINHO*/
    background-color:rgb(46, 31, 3);
    border: 1px solid aliceblue;
    box-shadow: 2px 2px 2px black;
    height: 30px;
    width: 41.5%;
    cursor: pointer;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
  }

  #carrinho{/*POSIÇÃO DO CARRINHO*/
    position: fixed;
    top:5px;
    right:5px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    display: none; 
  }

  #plantaCar{
    height: 120px;
    width: 50%;
  }

  #limparCarrinho{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: rgb(51, 21, 21);
    color:aliceblue;
    cursor: pointer;
  }

  .footerPag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(46, 31, 3);
  }

  #img-footer{
    height: 300px;
    width: 60%;
    margin-left: 40%;
  }

 .lista-footer{
        list-style: none;
        display: flex;
        justify-content: space-around;
        
    }

.icon-footer{
    height: 50px;
    width: 20%;
    background-color: aliceblue;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color:aliceblue;
}

.footer-titulo{
    font-family:fontFooter;
    font-size: 38px;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
}

.sugestoes {
    display: none;
    position: absolute;
    top: 135px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* Outros estilos, como largura, altura, rolagem, etc. */
  }
  .barra-pesquisa {
    display: list-item;
  }